AIRFLOW_UID=12345

# Airflow UI 관리자 계정 설정
AIRFLOW_UI_USERNAME=admin
AIRFLOW_UI_PASSWORD=admin

# 공공데이터포털 api 키
DATA_GO_KR_API_KEY=your_api_key_here

# Airflow 페르넷 키
FERNET_KEY=your_fernet_key_here

# GCS 버킷명
GCS_BUCKET=your_gcs_bucket_name_here

PYTHONPATH=your_python_path_here